DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="replace-with-64-byte-random-hex"
JWT_REFRESH_SECRET="replace-with-a-different-64-byte-random-hex"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CLIENT_ORIGIN="https://your-frontend.vercel.app"
